# This workflow will build a docker container, publish it to Google Container Registry, and deploy it to GKE when there is a push to the "main" branch.
#
# To configure this workflow:
#
# 1. Ensure that your repository contains the necessary configuration for your Google Kubernetes Engine cluster, including deployment.yml, kustomization.yml, service.yml, etc.
#
# 2. Create and configure a Workload Identity Provider for GitHub (https://github.com/google-github-actions/auth#setting-up-workload-identity-federation)
#
# 3. Change the values for the GAR_LOCATION, GKE_ZONE, GKE_CLUSTER, IMAGE, REPOSITORY and DEPLOYMENT_NAME environment variables (below).
#
# For more support on how to run the workflow, please visit https://github.com/google-github-actions/setup-gcloud/tree/master/example-workflows/gke-kustomize

name: Build and Deploy to GKE

on: workflow_dispatch


env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GAR_LOCATION: europe-west2 # TODO: update region of the Artifact Registry
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}    # TODO: update to cluster name
  GKE_ZONE: ${{ secrets.GKE_ZONE }}    # TODO: update to cluster zone
  DEPLOYMENT_NAME: gke-test # TODO: update to deployment name
  REPOSITORY: test-app # TODO: update to Artifact Registry docker repository
  IMAGE: faceit
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
#     - uses: cschleiden/replace-tokens@v1
#       with:
#         tokenPrefix: '{'
#         tokenSuffix: '}'
#         files: '[$GITHUB_WORKSPACE/kubernetes/*.yaml"]'
#       env:
#         POSTGRESQL_DBNAME: ${{secret.POSTGRESQL_DBNAME}}
#         POSTGRESQL_HOST: ${{secret.POSTGRESQL_HOST}}
#         POSTGRESQL_PASSWORD: ${{secret.POSTGRESQL_PASSWORD}}
#         POSTGRESQL_PORT: ${{secret.POSTGRESQL_PORT}}
#         POSTGRESQL_USER: ${{secret.POSTGRESQL_USER}}

#     - name: SonarCloud Scan
#       uses: SonarSource/sonarcloud-github-action@v1.6


    # Configure Workload Identity Federation and generate an access token.
#     - id: 'auth'
#       name: 'Authenticate to Google Cloud'
#       uses: 'google-github-actions/auth@v0'
#       with:
#         token_format: 'access_token'
#         workload_identity_provider: 'projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
#         service_account: 'my-service-account@my-project.iam.gserviceaccount.com'

#    Alternative option - authentication via credentials json
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Docker configuration
      run: |-
        echo ${{steps.auth.outputs.access_token}} | docker login -u _json_key --password '${{ secrets.GCP_CREDENTIALS }}' https://$GAR_LOCATION-docker.pkg.dev  
    # Get the GKE credentials so we can deploy to the cluster
    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v0
      with:
        cluster_name: ${{ secrets.GKE_CLUSTER }}
        location: ${{ secrets.GKE_ZONE }}

    # Build the Docker image
    - name: Build
      run: |-
        cd $GITHUB_WORKSPACE/cmd/ops-test-app &&
        docker build \
          --tag "eu.gcr.io/faceitdltest/test-app/$IMAGE:$GITHUB_SHA" \
          --build-arg GITHUB_SHA="$GITHUB_SHA" \
          --build-arg GITHUB_REF="$GITHUB_REF" \
          .
    # Push the Docker image to Google Artifact Registry
    - name: Publish
      run: |-
        gcloud auth configure-docker --project $PROJECT_ID --quiet &&
        docker push eu.gcr.io/faceitdltest/test-app/$IMAGE:$GITHUB_SHA

    # Deploy the Docker image to the GKE cluster
    - name: Deploy
      run: |-
          gcloud container clusters get-credentials faceitdltest-gke --region europe-west2 --project faceitdltest && cd $GITHUB_WORKSPACE/kubernetes/ && kubectl apply -f newdeployment.yaml
